
/*
.JM-lienzo{
	width: 400px;
	height: 400px;
	background-color: #333;
}

svg {
	position: absolute;
	width: 400px;
	height: 400px;
}
*/

/* final */

svg {
	padding-left: 15px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}